.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    bottom: 0;
  }

  a.btn_prod{
    pointer-events: none;
    cursor: default;
    }